@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --horizontal-line-color: #313131;
  --section-background: #18181b;
  --section-background-lighter: #28282b;
  --section-background-lightest: #38383b;
  --navbar-link: #a1a1aa;
  --navbar-link-hover: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #eeeeee;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
 * Utility Classes 
 */

/* Horizontal Line With Triangles at Both Ends */

.horizontal-line {
  position: relative;
}

.horizontal-line::before,
.horizontal-line::after {
  content: "";
  position: absolute;
  transform: translateY(-40%);
  top: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.horizontal-line::before {
  left: 0;
  border-left: 10px solid var(--horizontal-line-color);
}

.horizontal-line::after {
  right: 0;
  border-right: 10px solid var(--horizontal-line-color);
}

/* Section Header */

/* `2.5xl` is too finnicky to make work so `2point5` it is. */
.text-2point5xl {
  font-size: 1.875em;
}

.section-header {
  @apply text-3xl font-bold mb-4 text-center lg:text-left;
}
@media (width >= 64rem) {
  /* Apply `.text-2point5xl` */
  .section-header {
    font-size: 1.875em;
  }
}

/* Custom Tailwind Utility Classes */

.responsive-width {
  @apply max-w-95/100 sm:max-w-8/10 md:max-w-7/10 lg:max-w-full lg:w-full lg:h-full;
}

.backdrop-blur-xs {
  backdrop-filter: blur(var(--blur-xs));
}

.animate-presets {
  @apply transition-all duration-500 opacity-0 ease-in-out motion-reduce:transition-none;
}

.animate-slide-in-blur {
  @apply opacity-100 translate-0 blur-none;
}

